.header{
    height:80px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    text-decoration: none;
    padding-right: 140px;
     
}

.header a{
    color: white;
       text-decoration: none;
    padding-right: 40px;
    justify-content: space-between;
    margin-left: 100px;
}
.header a:hover{
    color: orange;
}

nav{
     height:80px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
        text-decoration: none;
    padding-right: 140px;

}